@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
body {
  color: #3d164e;
  font-size: 16px;
  font-family: 'Montserrat';
}
.order-site {
  background-color: #3d164e;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}
.wrap {
  margin: 0 auto;
  max-width: 1300px;
  padding: 0 20px;
}
.medium-wrap {
  margin: 0 auto;
  max-width: 1000px;
  padding: 0 10px;
}
.narrow-wrap {
  margin: 0 auto;
  max-width: 800px;
  padding: 0 10px;
}
section {
  padding: 50px 0;
}
p {
  line-height: 28px;
  font-weight: 300;
  font-size: 19px;
}
strong {
  font-weight: bold;
}
.dark {
  color: #fff;
}
.light {
  color: #3d164e;
}
.h1 {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  color: #ffcd00;
  font-size: 38px;
  margin: 15px 0;
  line-height: 38px;
  letter-spacing: 6.5px;
}
.h2 {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  color: #1fabca;
  font-size: 20px;
  margin: 15px 0;
  line-height: 25px;
  letter-spacing: 3px;
}
.h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  color: #3d164e;
  font-size: 17px;
  margin: 15px 0;
  line-height: 17px;
  font-weight: bold;
  letter-spacing: 1px;
}
.textbox {
  text-align: left;
}
.split {
  display: -ms-flexbox;
  display: box;
  display: flex;
}
.split > * {
  -o-box-flex: 1;
  box-flex: 1;
  flex: 0 0 50%;
}
.highlight-text {
  height: 72px;
  background-image: url("../img/lines.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 30px;
  margin: 50px 0 35px 0;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -o-box-pack: center;
  justify-content: center;
  -o-box-align: center;
  align-items: center;
}
@media (max-width: 635px) {
  .highlight-text {
    font-size: 28px;
    height: 70px;
  }
  .h1 {
    font-size: 25px;
    line-height: 25px;
    letter-spacing: 4px;
  }
  section {
    padding: 20px 0;
  }
}
@media (max-width: 525px) {
  .highlight-text {
    font-size: 23px;
    height: 65px;
  }
}
@media (max-width: 445px) {
  .highlight-text {
    font-size: 18px;
    height: 60px;
  }
  p {
    font-size: 16px;
  }
}
@media (max-width: 350px) {
  .highlight-text {
    font-size: 15px;
    height: 57px;
  }
}
header {
  background-color: #e9f7fa;
  height: 100px;
  width: 100%;
  padding: 30px 10px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  font-weight: bold;
}
header a {
  color: #162dc1;
  margin-right: 20px;
}
header a:hover {
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  transition: all 0.2s;
}
.question {
  min-height: 300px;
  background-color: #e0ffff;
  padding: 30px;
  display: block;
  margin-top: 50px;
}
.question .que {
  margin: 20px 0;
  background: #add8e6 top fixed no-repeat;
  padding: 20px;
}
.question .que input {
  margin-bottom: 15px;
}
.questions {
  margin-top: 50px;
  padding: 20px 30px;
}
.themeGroup {
  background-color: #fff;
  display: block;
  margin: 10px 0;
  position: relative;
}
.themeGroup label {
  padding: 12px 30px;
  width: 100%;
  display: block;
  text-align: left;
  color: #3c454c;
  cursor: pointer;
  position: relative;
  z-index: 2;
  transition: color 200ms ease-in;
  overflow: hidden;
}
.themeGroup label:before {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  content: '';
  background-color: #5562eb;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(-50%, -50%) scale3d(1, 1, 1);
  transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  z-index: -1;
}
.themeGroup label:after {
  width: 32px;
  height: 32px;
  content: '';
  border: 2px solid #d1d7dc;
  background-color: #fff;
  background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%23fff' fill-rule='nonzero'/%3E%3C/svg%3E ");
  background-repeat: no-repeat;
  background-position: 2px 3px;
  border-radius: 50%;
  z-index: 2;
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  transition: all 200ms ease-in;
}
.themeGroup input:checked ~ label {
  color: #fff;
}
.themeGroup input:checked ~ label:before {
  transform: translate(-50%, -50%) scale3d(56, 56, 1);
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.themeGroup input:checked ~ label:after {
  background-color: #54e0c7;
  border-color: #54e0c7;
}
.themeGroup input {
  width: 32px;
  height: 32px;
  -o-box-ordinal-group: 1;
  order: 1;
  z-index: 2;
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  visibility: hidden;
}
.startButton {
  background-color: #ffb6c1;
  height: 50px;
  width: 100px;
  border: 1px solid #ff1493;
  padding: 10px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  color: #a88fb9;
  transition: all 0.6s;
}
.startButton:hover {
  transition: all 0.6s;
  background-color: #fff;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
td,
th {
  border: 1px solid rgba(123,187,187,0.459);
  text-align: left;
  padding: 8px;
}
tr:nth-child(even) {
  background-color: rgba(123,187,187,0.459);
}

/*# sourceMappingURL=main.css.map */
